---
import Layout from "../layouts/Layout.astro";
import { getAllEntries } from "../scripts/utils";
import type { Page } from "../type/page";
import RenderComponents from "../components/render-components";

export async function getStaticPaths() {
  let entryList:
    | { params: { page: string }; props: { page: Page } }[]
    | undefined = [];
  try {
    for (let entry of await getAllEntries()) {
      if (entry.url !== "/" && entry.url !== "/blog") {
        entryList.push({
          params: {
            page: entry.url.replaceAll("/", ""),
          },
          props: {
            page: entry,
          },
        });
      }
    }
  } catch (error) {
    console.error(error);
  }
  
  return entryList;
}

const {page} = Astro.props;
---

<Layout title={page.title} previewObject={page}>
  <main>
    {
      page && (
        <RenderComponents
          pageComponents={page.page_components}
          entryUid={page.uid}
          contentTypeUid="page"
          locale={page.locale}
          client:idle
        />
      )
    }
  </main>
</Layout>
