---
import Layout from "../layouts/Layout.astro";
import { getPageRes, getBlogListRes } from "../scripts/utils";
import type { Page } from "../type/page";

import type { FeaturedBlog } from "../type/components";
import RenderComponents from "../components/render-components.astro";
import BlogList from "../components/blog-list.astro";
import ArchiveRelative from "../components/archive-relative.astro";
let pageEntry: Page | undefined = undefined;
let blogList: FeaturedBlog[] | undefined = undefined;
try {
  pageEntry = await getPageRes("/blog");
  blogList = await getBlogListRes();

} catch (error) {
  console.error(error);
}

const archivePost:FeaturedBlog[] =[]
const blogs:FeaturedBlog[] = []
 blogList?.forEach(post => {
  post.is_archived? archivePost.push(post): blogs.push(post);
 })

---

<Layout title="Blogs" previewObject={{page:pageEntry, blogList}}>
  <main>
    <>
    {pageEntry?.page_components && (
      <RenderComponents
        pageComponents={pageEntry.page_components}
        blogPost
        contentTypeUid='page'
        entryUid={pageEntry.uid}
        locale={pageEntry.locale}
      />
    )}
    <div class='blog-container'>
      <div class='blog-column-left'>
        {
        blogs.length &&
        blogs.map((blogList) => (
            <BlogList bloglist={blogList}/>
          ))
        }
      </div>
      <div class='blog-column-right'>
        {pageEntry && pageEntry.page_components[1].widget && (
          <h2>{pageEntry.page_components[1].widget.title_h2}</h2>
        )}
        {archivePost &&(
          <ArchiveRelative blogs={archivePost}/>
        )}
      </div>
    </div>
  </>
  </main>
</Layout>
