---
import type { FeaturedBlogData } from "../type/components";

type Props = {
  fromBlog: FeaturedBlogData;
};
const { fromBlog } = Astro.props;
---

<div class="community-section">
  <div class="community-head">
    {fromBlog?.title_h2 && <h2>{fromBlog?.title_h2}</h2>}
    {
      fromBlog?.view_articles && (
        <a
          href={fromBlog?.view_articles.href}
          class="btn secondary-btn article-btn"
        >
          {fromBlog?.view_articles.title}
        </a>
      )
    }
  </div>
  <div class="home-featured-blogs">
    {
      fromBlog?.featured_blogs.map((blog) => (
        <div class="featured-blog">
          {blog.featured_image && (
            <img
              src={blog.featured_image.url}
              alt={blog.featured_image.filename}
              class="blog-post-img"
            />
          )}
          <div class="featured-content">
            {blog.title && <h3>{blog.title}</h3>}
            {typeof blog.body === "string" && (
              <div set:html={blog.body.slice(0, 300)}/>
            )}
            {blog.url && (
              <a href={blog.url} class="blogpost-readmore">
                {"Read More -->"}
              </a>
            )}
          </div>
        </div>
      ))
    }
  </div>
</div>
