---
import moment from "moment";
import type { FeaturedBlog } from "../type/components";

type Props = {
  bloglist: FeaturedBlog;
};
const { bloglist } = Astro.props;
let body: string = bloglist.body && bloglist.body.substr(0, 300);
const stringLength = body.lastIndexOf(" ");
body = `${body.substring(0, Math.min(body.length, stringLength))}...`;
---

<div class="blog-list">
  {
    bloglist.featured_image && (
      <a href={bloglist.url}>
        <img
          class="blog-list-img"
          src={bloglist.featured_image.url}
          alt="blog img"
        />
      </a>
    )
  }
  <div class="blog-content">
    {
      bloglist.title && (
        <a href={bloglist.url}>
          <h3>{bloglist.title}</h3>
        </a>
      )
    }
    <p>
      <strong>
        {moment(bloglist.date).format("ddd, MMM D YYYY")}
      </strong>
      ,{" "}
      <strong>
        {bloglist.author[0].title}
      </strong>
    </p>
    <div set:html={body}></div>
    {
      bloglist.url ? (
        <a href={bloglist.url}>
          <span>{"Read more -->"}</span>
        </a>
      ) : (
        ""
      )
    }
  </div>
</div>
